<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div>
    <div class="flex h-screen bg-gray-200">
        <div class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"></div>

        <!--    Right Navbar    -->
        <div id="navbar" class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:static lg:inset-0"></div>

        <!--    Main    -->
        <div class="flex flex-col flex-1 overflow-hidden">
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container px-6 mx-auto">
                    <div class="flex flex-col mt-8">
                        <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                            <div id="content" class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Load navbar content dynamically
        $('#navbar').load('./views/components/navbar.html', function() {
            // Event listener for the "Font" button click
            $(document).on('click', '#font', function(e) {
                e.preventDefault();
                loadFontUpload();
            });

            loadFontUpload();
        });

        function loadFontUpload() {
            $('#content').load('./views/components/font_main.html', function () {

                $('#uploadNewFont').on('click', function () {
                    $('#uploadSection').toggleClass('hidden');
                });

                // list of font
                $.ajax({
                    url: 'http://localhost:8000/api/fonts',
                    type: 'GET',
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // TODO: show success notification

                        let fontTableBody = '';
                        response.forEach(function(font) {
                            fontTableBody += `
                                            <tr>
                                                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                                    ${font.name}
                                                </td>
                                                <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                                    <span style="font-family: '${font.name.split('.')[0]}';">Preview</span>
                                                </td>
                                                <td class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
                                                    <button class="delete-font bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" data-id="${font.id}">
                                                        DELETE
                                                    </button>
                                                </td>
                                            </tr>
                                        `;
                        });

                        $('table tbody').html(fontTableBody);
                    },
                    error: function(xhr, status, error) {
                        // TODO: show error notification
                    }
                });

                // upload font
                $('#uploadFile').on('change', function () {
                    const formData = new FormData();
                    const fileInput = $('#uploadFile')[0].files[0];

                    // Check if the file is a TTF file
                    if (fileInput && fileInput.name.endsWith('.ttf')) {
                        formData.append('font', fileInput);

                        // Send the file via AJAX to the store API
                        $.ajax({
                            url: 'http://localhost:8000/api/fonts',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            beforeSend: function() {
                                $('#upload-status').html('<p class="text-blue-500">Uploading...</p>');
                            },
                            success: function(response) {
                                console.log(response)
                                // TODO: show success notification
                                let newFontRow = `
                                                <tr>
                                                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                                        ${response.data.name}
                                                    </td>
                                                    <td class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                                        <span style="font-family: '${response.data.name.split('.')[0]}';">Preview</span>
                                                    </td>
                                                    <td class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
                                                        <button class="delete-font bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" data-id="${response.data.id}">
                                                            DELETE
                                                        </button>
                                                    </td>
                                                </tr>
                                            `;

                                $('table tbody').append(newFontRow);
                            },
                            error: function(xhr, status, error) {
                                // TODO: show error notification
                            }
                        });
                    } else {
                        // TODO: show error notification
                    }
                });

                // delete font
                $(document).on('click', '.delete-font', function() {
                    const fontId = $(this).data('id');

                    // Confirm delete action
                    if (confirm('Are you sure you want to delete this font?')) {
                        $.ajax({
                            url: `http://localhost:8000/api/fonts/${fontId}`,
                            type: 'DELETE',
                            success: function(response) {
                                // Remove the font row from the table
                                $(this).closest('tr').remove();
                                alert(response.message); // Notify user
                            }.bind(this),
                            error: function(xhr, status, error) {
                                alert('Error deleting font: ' + error);
                            }
                        });
                    }
                });
            });
        }
    });
</script>

</body>
</html>